[flake8]
ignore = E702, W503
max-line-length = 120
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    # forget the __init__.py files
    __init__.py,
    # no need to check the venv
    venv,
    .venv,
    migrations,
    Yurii_Khomych,
    Serhii_Hidenko/source/hw_start.py